---
title: "Why doesn’t my dog look like their DNA test results?"
url: "https://embarkvet.com/resources/why-doesnt-my-dog-look-like-their-dna-test-results/"
date: "2026-04-27"
author: "Travis Smith"
feed_url: "https://embarkvet.com/feed/"
---
He looks like a Poodle… but his DNA says Xoloitzcuintli. She’s 100% Pittie… but she’s rocking long, fluffy locks. That ‘Golden Retriever’ mix? Turns out, there’s zero Golden in his family tree. If your dog’s DNA test results don’t match how your dog looks, you’re not imagining it — and you’re not alone. Some of the most common questions we
